@font-face {
    font-family: "Quicksand";
    src: url("../../src/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("../../src/fonts/Quicksand-Bold.ttf");
    font-weight: bold;
}

html, body, #app, #root {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'promixa-nova', sans-serif;
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #F5F5F5;*/
    background-color: #fafafa;
    font-size: 0.9em;
}

#maincontent {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

#mainHeader {
    margin-top: 10%;
}

h1#mainHeader {
    /*text-align: center;*/
    /*font-size: 1.8em;*/
    font-size: 2.8em;
    line-height: 1.25em;
}

h1 {
    color: #222;
    padding-bottom: .25em;
    margin: 15px 0;
}

h1, h2, h3, h4 {
    font: normal normal normal 2.5em/1.5em 'QuicksandBold';
    /*margin-bottom: 1em;*/
}

h3.subHeader {
    font-size: 1.5em;
    line-height: 1.3em;
}

h3 {
    color: #222;
    padding-bottom: .25em;
    margin: 15px 0;
}

#name {
    padding-right: 20px;
}

#icons {
    padding-bottom: .45em;
}

.img_icons {
    height: 30px;
    padding-right: 20px;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.img_icons:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#locationIcon {
    height: 20px;
    vertical-align: middle;
}
#locationText {
    font-size: 1.2em;
}



.skills_list {
    height: 20px;
}

.skills_icons {
    height: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#main_links {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

#main_links a {
    text-decoration: none;
    color: #999;
}

#main_links a:hover {
    text-decoration: none;
    color: #666;
}

#main_links a:visited {
    text-decoration: none;
    color: #999;
}

.about_me {
    /*text-align: center;*/
    font-size: 1.2em;
    margin-bottom: 10px;
}

.repos_list {
    margin-right: -8px;
    margin-left: -8px;
    flex-wrap: wrap !important;
    padding-left: 0;
}

.d-flex {
    display: flex !important;
}

.project_card {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    border: 1px solid #d1d5da;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    width: 100%;
    margin-bottom: 16px !important;
    flex-direction: column;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 3px;
    padding-right: 8px !important;
    padding-left: 8px !important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.06),0 1px 1px 0 rgba(0,0,0,0.04),0 1px 3px 0 rgba(0,0,0,0.04);
}

.repo-item {
    padding: 16px !important;
    display: flex;
    flex-direction: column;
}

.repo-item>a {
    color: #0366d6;
    text-decoration: none;
}
.repo-item>a:hover{
    text-decoration: underline;
}

.repo-item>.name {
    color: #0366d6;
    text-decoration: none;
    word-wrap: break-word;
}
.repo-item>.description {
    margin-top: 8px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px !important;
    flex: 1 0 auto;
}

.text-grey {
    color: #586069 !important;
}

.repo-item>.language {
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 0;
}
.repo-item>.updated {
    font-size: 11px !important;
    margin-bottom: 0 !important;
    margin-top: 0;
}


/*Responsive*/
@media (min-width: 576px){
    #maincontent {
        width: 540px;
    }
}
@media (min-width: 768px){
    #maincontent {
        width: 720px;
    }
    .ReactTable {
        font-size: 0.9em;
        padding-right: inherit;
        padding-left: inherit;
    }
    .nouislider_div {
        width: 90%;
    }
    .noUi-handle.noUi-handle-lower .noUi-tooltip {
        left: 2px;
    }
    .noUi-handle.noUi-handle-upper .noUi-tooltip {
        left: 15px;
    }
    .noUi-target {
        right: 0;
    }
    .project_card {
        width: 40%;
    }
}
@media (min-width: 992px){
    #maincontent {
        width: 970px;
    }
}
@media (min-width: 1200px){
    #maincontent {
        max-width: 1140px;
    }
}
/*@media (min-width: 1440px){*/
    /*#maincontent {*/
        /*width: 1400px;*/
    /*}*/
/*}*/
